*{
	background-color: #D0D0D0;
	color: #303030;
}

a{text-decoration: none; color: #606060; background-color: rgba(0,0,0,0);}
a:visited{text-decoration: none; color: #606060;}

#wrapper{
	text-align: left;
	margin: auto;
	width: 95%;
}

#myImage{
	margin: 1%;
	width: 20%;
	border: 2px solid gray;
}

#gitIcon{
	width: 1em;
	margin-left: 2px;
	margin-right: 2px;
	background-color: rgba(0,0,0,0);
	position: relative;
	top: 2px;
	color: #303030;
}

#linkedIcon{
	width: 1em;
	margin-left: 2px;
	margin-right: 2px;
	color: #303030;
	position: relative;
	top: 2px;
}

.trans{background-color: rgba(0,0,0,0);}

.container{}
[class*=container]{
	overflow:hidden;
	margin: 1%;
	background-color: rgba(0,0,0,0);
}


/*NAVIGATION BAR*/

.navFlex{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: no-wrap; /*can be wrap-reverse or no-wrap*/
	align-content: flex-start;
	align-items: flex-end;
}

.container-nav{
	height: auto;
	width: 100%;
	border-bottom: 2px solid #A0A0A0;
}

.top-navtab{
	margin-right:5px;
	background-color: #DFDFDF;
	width: 100px;
	height: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 5% 5% 0 0;
	border: 2px solid #A0A0A0;
}

.current-navtab{
	margin-right:5px;
	background-color: #DFDFDF;
	width: 100px;
	height: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 5% 5% 0 0;
	border: 2px solid #A0A0A0;
	border-bottom-color: #E0A0A0;
	border-bottom-width: 4px;
}

.top-navtab:hover{
	border-bottom: 4px solid cornflowerblue;
}


/*NAME TITlE*/

[class*="myName-"]{
	font-size: 5em;
	font-family: "Times New Roman", Times, serif;
	background-color: rgba(0,0,0,0);
	position: relative;
	top: 15px;
	left: 10px;
}

.myName-first{
	color: white;
	text-shadow: 0 0 4px black;
}

.myName-last{
	color: black;
	text-shadow: 0 0 4px white;
}


/*MAIN BODY STUFF*/

.mainFlex{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:no-wrap;
	align-items:flex-start;
}

.mainItem{
	border: 2px solid black;
	width: 75%;
}

.container-main{
	background-color: #DFDFDF;
	box-shadow: 2px 2px 2px gray;
	border-radius: 10px;
}


/*PROJECT PAGE BODY*/
.projFlex{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	flex-wrap:no-wrap;
	align-items:flex-start;
}

.projectItem{
	width: 85%;
}

.projectTitle{
	margin-left: 15px;
}

.projectGit{
	margin-left: 20px;
	margin-top: -15px;
}


/*FOOTER STUFF*/
.footFlex{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:no-wrap;
	align-items:baseline;
}

.footItem{
	text-align: center;
	width: 20%;
	word-wrap: break-word;
	color: #606060;
}
