*{
	background-color: #D0D0D0;
	color: #303030;
}

a{text-decoration: none; color: black;}
a:visited{text-decoration: none; color: black; background-color: #DFDFDF;}

#wrapper{
	text-align: left;
	margin: auto;
	width: 95%;
}

#myImage{
	margin: 1%;
	width: 20%;
	border: 2px solid gray;
}

.mainFlex{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	flex-wrap:wrap;
	align-items:flex-start;
}

.mainItem{
	border: 2px solid black;
	width: 75%;
}

.container{}
[class*=container]{
	overflow:hidden;
	margin: 1%;
	background-color: rgba(0,0,0,0);
}

.container-title{
	background: rgba(0, 0, 0, 0);
	padding-bottom:0;
	margin: 0px;
	position: relative;
	top: 15px;
	left: 10px;
}

.navFlex{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: no-wrap; /*can be wrap-reverse or no-wrap*/
	align-content: flex-start;
	align-items: flex-end;
}

.container-nav{
	height: auto;
	width: 100%;
	border-bottom: 2px solid #A0A0A0;
}

[class*="myName-"]{
	font-size: 5em;
	font-family: "Times New Roman", Times, serif;
	background-color: rgba(0,0,0,0);
}

.myName-first{
	color: white;
	text-shadow: 0 0 4px black;
}

.myName-last{
	color: black;
	text-shadow: 0 0 4px white;
}

.top-navtab{
	margin-right:5px;
	background-color: #DFDFDF;
	width: 100px;
	height: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 5% 5% 0 0;
	border: 2px solid #A0A0A0;
}

.current-navtab{
	margin-right:5px;
	background-color: #DFDFDF;
	width: 100px;
	height: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 5% 5% 0 0;
	border: 2px solid #A0A0A0;
	border-bottom-color: #E0A0A0;
	border-bottom-width: 4px;
}

.top-navtab:hover{
	border-bottom: 4px solid cornflowerblue;
}

.container-main{
	background-color: #DFDFDF;
	box-shadow: 2px 2px 2px gray;
	border-radius: 10px;
}
